<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/style.css" />
    <title>Timestamp Microservice</title>
</head>

<body>
    <main class="conatiner">
        <header class="haeder">
            <h1>Timestamp Microservice</h1>
            <hr />
        </header>
        <section class="body">
            <div>
                <h2>Examples Input:</h2>
                <p>
                    <a target="_self" href="/api/2015-12-25">[project url]/api/2015-12-25</a
            >
          </p>
          <p>
            <a target="_self" href="/api/1451001600000"
              >[project url]/api/1451001600000</a
            >
          </p>
        </div>
        <div>
          <h2>Example Output:</h2>
          <p>
            <span
              >{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00
              GMT"}</span
            >
          </p>
        </div>
      </section>
      <footer class="footer">
        By
        <a href="https://ilyaskritet.w3spaces.com/" target="_blank"
          >Kritet ilyas</a
        >
      </footer>
    </main>
  </body>
</html>